@import (less) '../../node_modules/normalize.css/normalize.css';
@import (less) '_media.less';
@import (less) url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background: white;
    
    font-family: 'Roboto', sans-serif;
    @media @phone {
        font-size: 10px;
    }
    @media @tablet {
        font-size: 14px;
    }
    @media @desktop {
        font-size: 16px;
    }
}
 .grid {
    margin: 0 auto;
    max-width: 1450px;
    padding-left: 10px;
    padding-right: 10px;
    @media @tablet {
        padding-left: 25px;
        padding-right: 25px;  
    }
    
 }
.header {
    margin-top: 1rem;
    &__logo {
        fill: #cc0000;
        width: 3em;
        display: block;
        margin: auto auto;
        vertical-align: middle;
    }
    &__title {        
        line-height: 4em;
        color: #cc0000;
        font-size: 1.1em;
        font-weight: bold; 
    }
}

.row {
    background: #f4f4ef;
    min-height: 50px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.navigation {
    height: 50px;
}


.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    padding-left: 0;
    visibility: hidden; //сделать выпадающее меню
    height: 50px;
    @media @tablet {
        visibility: visible;
    }
    
    &__item {
        text-decoration: none; 
        margin-right: 20px;
        line-height: 50px;
        &:hover {
            cursor: pointer;
        }     
        @media @tablet {
            display: inline-block;
        }
    }
     
    &__link {
        &:link {
            color: #cc0000;
        }
        &:visited {
            color: #cc0000;
        }
        &_current {
            color: #000;
            font-style: bold;
            border-bottom: none;
        }
    }
}

.search-form { 
    line-height: 50px;
    &__search-field {
        display: inline-block;
        width: 15em;
        @media @tablet {
            width: 11em;
        }
        height: 2em;
        
    }
    &__submit {
        vertical-align: middle;
        height: 2em;
        width: 2em;
        background-image: url("img/icons/search.svg");
    }
    
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;

    .bread-crumbs{
        margin: 25px 0;

        &__item {
            color: #cc0000;
            border-bottom: 1px solid #cc0000;
            display: inline-block;
            list-style-type: none;
            &:last-child {
                color: #000;
                border-bottom: none;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

    .tshirt-img {
        display: inline-block;
        max-width: 100%;
        @media @tablet {
            max-width: 50%;
        }        
    }

    .product-inf {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
        padding-left: 5%;
        padding-top: 1rem;

        &__name {
            font-size: 2em;
            margin-top: 0;
        }

        &__description {
            margin-top: 0.3em;
            margin-bottom: 0.3em;
        }

        &__price {
            color: #cc0000;
            font-weight: bold;
            font-size: 2em;
            margin-top: 0.3em;
            margin-bottom: 0.3em;

        }

        &__item{
            background-color: white;
            border: 4px solid #f4f4ef;
            height: 4rem;
            width: 4rem;
            
            &:hover {
                border-color: #cc0000;
                cursor: pointer;
            }

            @media @tablet {
                margin-top: 0;
                margin-bottom: 0;
            }
            @media @desktop {
                margin-top: 10px;
                margin-bottom: 10px; 
            }
            
            &_checked {
                border-color: #cc0000;
            }
        }

        &__size-item {
            font-size: 2em;
        }

        &__button-buy {
            display: block;
            background-color: #cc0000;
            color: white;
            font-size: 1.5em;
            height: 4rem;
            width: 12rem;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            &:hover {
                cursor: pointer;
            }
            @media @tablet {
                //height: 45px;
                //width: 120px;
                background-color: #cc0000;
                color: white;
                //font-size: 1.3rem;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            @media @desktop {
                //font-size: 2rem;
                //height: 80px;
                //width: 200px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

        }
        &__buy-later {
            border: none;
            background-color: #fff; 
            height: 2em;
            display: inline-block;
            color: #aaa;
            border-bottom: 1px solid #aaa;
            &:hover {
                cursor: pointer;
            }
        }
        &__img-buy-later {
            color: #aaa;
            font-size: 2em;
            font-stretch: ultra-expanded;
        }

        @media @desktop {
            
        }
        @media @tablet {
            padding-top: 0;
            max-width: 40%;
        }
    }
    @media @tablet {
        padding-top: 50px;
        padding-bottom: 100px;
    }

}

.footer {
    font-size: 0.9em;
    padding: 10px 0;
    &__inf {
        margin-right: auto;
        margin-left: auto;
    }
    &__block {
        display: inline-block;
        vertical-align: top;
        margin-right: auto;
        margin-left: auto;
        min-width: 100%;

        @media @desktop {
            min-width: 49%;
        }
    }
    &__item{
        vertical-align: top;
        display: inline-block;
        margin-right: 0;
        &:last-child  {
            margin-right: 0;
        }
        @media @desktop {
            //margin-right: 10;
        }
    }
    &__column {
        padding-left: 0;
        display: inline-block;
        list-style-type: none;
        & li {
            padding-top: 10px;
        }
    }

    &__service {
        padding-left: 0;
        @media @tablet {
            
        }
        @media @desktop {
            padding-left: 20%;
        }
    }

    &__support&__item {
        min-width: 100%;
        @media @tablet {
            min-width: 55%;
        }
    }

    &__about&__item {
        min-width: 100%;
        @media @tablet {
            min-width: 35%;
        }
    }


    &__support &__column, 
    &__about &__column {
        min-width: 49%;
        vertical-align: top;
    }

    &__img-contact {
        width: 2.5em;
        text-align: center;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
        & img {
            height: 2em;
        }
    }

    &__item-service {

    }

    &__img-service {
        width: 4em;
        text-align: right;
        display: inline-block;
        margin-right: 10px;
        & img {
            height: 2em;
        }
    }

    &__name-service {

    }

    @media @tablet {
        padding: 40px 0;
    }
}


